[submodule "submod/qperf-go"]
	path = submod/qperf-go
	url = git@github.com:chajiuqqq/qperf-go.git
[submodule "submod/pageloading-tester"]
	path = submod/pageloading-tester
	url = https://github.com/dodinhtrung97/page-load-time-tester.git
[submodule "submod/http2"]
	path = submod/http2
	url = git@github.com:chajiuqqq/http2.git
[submodule "submod/GoDashPlayer"]
	path = submod/GoDashPlayer
	url = git@github.com:chajiuqqq/GoDashPlayer.git
[submodule "submod/mininet"]
	path = submod/mininet
	url = git@github.com:mininet/mininet.git
